<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- the value of scriptprocessor comes from the command-line tool wfastcgi enable -->
      <add name="FlaskFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\users\addyi\anaconda3\envs\appenv\python.exe|c:\users\addyi\anaconda3\envs\appenv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <security>
      <!-- special characters in URL rewriting, such as plus sign + and so on -->
      <requestFiltering allowDoubleEscaping="true"></requestFiltering>
    </security>
  </system.webServer>

  <appSettings>
    <!-- Required settings -->
    <!-- specify the location of the falsk app in the module -->
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="~/" />

    <!-- Optional settings -->
    <!-- you need to create a log directory first, or an error will be reported -->
    <add key="WSGI_LOG" value="C:\Users\addyi\logs\keep.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value="" />
  </appSettings>
</configuration>